<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>UpdateUsu</servlet-name>
        <servlet-class>papw.controller.UpdateUsu</servlet-class>
        <multipart-config>
            <max-file-size>-1</max-file-size>
            <max-request-size>-1</max-request-size>
            <file-size-threshold>52428800</file-size-threshold>
        </multipart-config>
    </servlet>
    <servlet>
        <servlet-name>ArtiServlet</servlet-name>
        <servlet-class>papw.controller.ArtiServlet</servlet-class>
        <multipart-config>
            <max-file-size>-1</max-file-size>
            <max-request-size>-1</max-request-size>
            <file-size-threshold>52428800</file-size-threshold>
        </multipart-config>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>papw.controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MostrarServlet</servlet-name>
        <servlet-class>papw.controller.MostrarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImagenServlet</servlet-name>
        <servlet-class>papw.controller.ImagenServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VentaServlet</servlet-name>
        <servlet-class>papw.controller.VentaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImagenServletArticulo</servlet-name>
        <servlet-class>papw.controller.ImagenServletArticulo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DepaServlet</servlet-name>
        <servlet-class>papw.controller.DepaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MostrarDepartamentos</servlet-name>
        <servlet-class>papw.controller.MostrarDepartamentos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SucuServlet</servlet-name>
        <servlet-class>papw.controller.SucuServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MostrarSucursales</servlet-name>
        <servlet-class>papw.controller.MostrarSucursales</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MostrarArticulo</servlet-name>
        <servlet-class>papw.controller.MostrarArticulo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MostrarInfo</servlet-name>
        <servlet-class>papw.controller.MostrarInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReporteServlet</servlet-name>
        <servlet-class>papw.controller.ReporteServlet</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>MarketingServlet</servlet-name>
        <servlet-class>papw.controller.MarketingServlet</servlet-class>
        <multipart-config>
            <max-file-size>-1</max-file-size>
            <max-request-size>-1</max-request-size>
            <file-size-threshold>52428800</file-size-threshold>
        </multipart-config>
    </servlet>
    <servlet>
        <servlet-name>MostrarMarketing</servlet-name>
        <servlet-class>papw.controller.MostrarMarketing</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>UpdateUsu</servlet-name>
        <url-pattern>/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ArtiServlet</servlet-name>
        <url-pattern>/articulo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VentaServlet</servlet-name>
        <url-pattern>/VentaArticulo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MostrarServlet</servlet-name>
        <url-pattern>/mostrar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImagenServlet</servlet-name>
        <url-pattern>/imagen</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImagenServletArticulo</servlet-name>
        <url-pattern>/ImagenArticulo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DepaServlet</servlet-name>
        <url-pattern>/departamento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SucuServlet</servlet-name>
        <url-pattern>/sucursal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MostrarDepartamentos</servlet-name>
        <url-pattern>/mostrardepa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MostrarSucursales</servlet-name>
        <url-pattern>/mostrarsuc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MostrarArticulo</servlet-name>
        <url-pattern>/mostrararti</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MostrarInfo</servlet-name>
        <url-pattern>/mostrarinfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReporteServlet</servlet-name>
        <url-pattern>/ReporteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MarketingServlet</servlet-name>
        <url-pattern>/MarketingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MostrarMarketing</servlet-name>
        <url-pattern>/mostrarMark</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
