/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 9/10/2015, 03:38:30 PM
    Author     : Felipe de Jesus
*/

html, body {
    background: url("images/FondoN.jpg") no-repeat fixed center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0px;
    width: 100%;
    height: auto;
    padding-top: 60px;
    
}

.main{
    height: 100%;
    width: 1200px;
    top: -5%;
    bottom:0px; 
    margin: 0 auto;
    border-radius: 5px; 
    background-color: #efefef;   
    position: relative;
    
}

#Encabezado{
    overflow: hidden;
    height: 120px;
    width: 100%;
    border: 1px outset #0099cc;
   
    background: -moz-linear-gradient(top, #93cede 0%, #004254 86%, #49a5bf 92%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#93cede), color-stop(86%,#004254), color-stop(92%,#49a5bf)); 
    background: -webkit-linear-gradient(top, #93cede 0%,#004254 86%,#49a5bf 92%); 
    background: -o-linear-gradient(top, #93cede 0%,#004254 86%,#49a5bf 92%); 
    background: -ms-linear-gradient(top, #93cede 0%,#004254 86%,#49a5bf 92%); 
    background: linear-gradient(to bottom, #93cede 0%,#004254 86%,#49a5bf 92%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93cede', endColorstr='#49a5bf',GradientType=0 );

    left: 0;
    top: 0;
    position: fixed;/*nos permite tener nuestro cabecera fija al navegar en el sitio*/
  
}

#Salir{
    float: right;
    width: 120px;
    padding-right: 10px;
    margin-right: 10px;
    margin-top: 0px;
    padding-top: 10px;
  
    -moz-border-radius: 0px 0px 8px 8px;
    -webkit-border-radius: 0px 0px 8px 8px;
    border-radius: 0px 0px 8px 8px;
    /*IE 7 AND 8 DO NOT SUPPORT BORDER RADIUS*/
    -moz-box-shadow: 0px 0px 8px #000000;
    -webkit-box-shadow: 0px 0px 8px #000000;
    box-shadow: 0px 0px 8px #000000;

    opacity: 0.94;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity = 94);
    /*-ms-filter must come before filter*/
    filter: alpha(opacity = 94);
    text-align: center;
    text-decoration:none;
}

#Salir:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #e9e9e9), color-stop(1, #f9f9f9) );
	background:-moz-linear-gradient( center top, #e9e9e9 5%, #f9f9f9 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9', endColorstr='#f9f9f9');
	background-color:#e9e9e9;
        
}#Salir:active {
	position:relative;
	top:1px;
}

#Letrero{
    width: 300px;
    padding-left: 10%;  
    float: left;
}
/*//////////////////////////////////Slogan///////////////////////////////////*/
h3{
    font-style: italic;
    color:white;
    font-family: "Cambria", Arial;
    font-size: 10pt;
    padding-left: 1px;
    padding-top: 75px;
    float:left;
}
/*///////////////////////////////Index//////////////////////////////////////*/
.Login{
    float: right;
    width: 350px;
    margin: 120px 150px 20px 20px;
    height: 290px;
    border: 10px groove #0099cc;
    border-radius: 15px;
    box-shadow: 5px 5px 5px #888888;
}

h4{
    text-align:left;
    margin-left: 20px;
    font-family: Arial;
    font-size: 15pt;
    color: #0f4e5d;
}

#Tabla{
    margin-left: 10px;
}

#Tabla td {
    padding: 3px;
    text-align: left;
    font-family:  Arial bold;
    font-size: 13pt;
}

.Botones{
    margin-left: 20px;
    margin-top: 10px;
    height: 30px;
    width: 90px;
    box-shadow: 5px 5px 5px #888888;
}

#OlvidoContra{
    display: block;
    margin-top: 10px;
    margin-left: 30px;
    font-family: Arial;
    font-size: 10pt;
}

div.Vision{
    float: right;
    margin: 70px 150px 250px 10px;
    width: 400px;
    height: 450px;
    border-radius: 10px;
    background-color: #ffffff;
    /*opacity: 0.6;*/
     
}

div.Vision p{
    font-family:"Arial Narrow", Arial;
    font-size: 12pt;
    text-align : justify;
    padding: 15px;
    color: #000000;
}

div.Vision h2{
    font-family: "Cambria",Arial;
    text-align: center;
    padding: 15px;
    color: #000000;
}

/*/////////////PaginaPrincipalManager/////////////////////*/
.index{
    height: 500px;
    padding-bottom: 50px;
    margin-bottom: 100px;
}

.index p{
    margin: 20px 20px 40px 40px;
    padding: 20px 20px 20px 20px;
}

#ima1{
    height: 30%;
    margin: 20px 20px 40px 40px;
    padding: 20px 20px 20px 20px;
    
}

#ima2{
    height: 30%;
}

#ima3{
    height: 30%;
}

/*/////////////Menu/////////////////////*/
#Nav {
     overflow: hidden;
     background-color: #0f4e5d;
     width:100%;
     font-family: "Lucida Sans", "Arial Black",Arial;
 }
 
ul, ol {
    list-style: none;
    list-style-position: inside;
}

.navo > li{
    float: left;
}

.navo li a{
    text-decoration: none;
    padding:10px 15px;
    color:white;
    display:block;
} 

 .navo li a:hover{
    background-color: white;
    color: black;
}
.navo li ul{
    display:none;
    position:absolute;
    padding: 10px;
    min-width: 120px;
}

.navo li:hover > ul{
    display:block;
    background-color: black;
}

.navo li ul li{
    position: relative;
}

.navo li ul li ul {
    right:-120px;
    top:0px;
}

hr{
    width: 100%;
    height: 5px;
    background-color: #93cede;
    z-index:-1;
}
/*/////////////bannerInferior//////////*/    
#inferior{
     overflow: hidden;
  
    background: -moz-linear-gradient(top, rgba(147,206,222,1) 0%, rgba(0,66,84,0.96) 86%, rgba(73,165,191,0.96) 92%, rgba(73,165,191,0.95) 100%); 
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(147,206,222,1)), color-stop(86%,rgba(0,66,84,0.96)), color-stop(92%,rgba(73,165,191,0.96)), color-stop(100%,rgba(73,165,191,0.95))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(147,206,222,1) 0%,rgba(0,66,84,0.96) 86%,rgba(73,165,191,0.96) 92%,rgba(73,165,191,0.95) 100%); 
    background: -o-linear-gradient(top, rgba(147,206,222,1) 0%,rgba(0,66,84,0.96) 86%,rgba(73,165,191,0.96) 92%,rgba(73,165,191,0.95) 100%); 
    background: -ms-linear-gradient(top, rgba(147,206,222,1) 0%,rgba(0,66,84,0.96) 86%,rgba(73,165,191,0.96) 92%,rgba(73,165,191,0.95) 100%); 
    background: linear-gradient(to bottom, rgba(147,206,222,1) 0%,rgba(0,66,84,0.96) 86%,rgba(73,165,191,0.96) 92%,rgba(73,165,191,0.95) 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93cede', endColorstr='#f249a5bf',GradientType=0 );

     border: 1px outset #0099cc;
     width: 100%;
     height: 50px;
     left: 0;
     bottom: 0;
     position: fixed;/*nos permite tener nuestro cabecera fija al navegar en el sitio*/
}

#inferior_1{
    text-align: center;
    color: white;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 10pt;
    
}

/*////////////////////////Personal/////////////////////////////////////*/
#AgregarP{
    width: 200px;
    height: 30px;
    float: left;
    margin: 55px 20px 20px 90px;
}

.Busca {
    width: 700px;
    padding: 5px 5px 30px 5px;
    margin: 100px 5px 5px 60px;
}

.Busca input{
    margin-left: 10px;
    
}

.Busca label{
    margin-left: 20px;
    padding: 10px;
    font-family: "Cambria", Arial;
    font-size: 12pt;
    
}

.Busca select{
    padding-left: 5px;
    padding-right: 5px;
}

.Busca button{
    text-align: center;
    width: 100px;
    height: 30px;
    margin-left: 10px;
   
}

/*TABLA DATOS EMPLEADOS Y ARTICULOS*/
.TABLA_ER{
    width: 1100px;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 200px;
}

.TABLA_ER table {
    width: 100%;
    border: 1px;  
    
}

.TABLA_ER table{
    border: 1px solid black;
    border-collapse: collapse;
    font-family: "Cambria", Arial;
    text-align: center;
    padding: 1px;
}

.TABLA_ER td{
    border: 1px solid black;
    border-collapse: collapse;
    font-family: "Cambria", Arial;
    text-align: center;
    padding: 1px;
}

.TABLA_ER th{
    background-color: #868686;
    color: white;
    border: 1px solid black;
    border-collapse: collapse;
    font-family: "Cambria", Arial;
    text-align: center;
    padding: 1px;
} 

.TABLA_ER tr:nth-child(odd){
    background-color: #bbe8ff;
}

.TABLA_ER tr:nth-child(even){
    background-color: #e9e9e9 ;
}

.TABLA_ER table tr:hover {
    background-color: #c8c8c8;
}

/*////////////////////////AgregarPersonal/////////////////////////////////////*/
.cajita{
    width: 650px;
    margin: 20px 20px 20px 20px;
    padding:  20px 20px 20px 10px;
}

.cajita fieldset{
    width: 600px; 
    border: 6px groove #0f4e5d;
    border-radius: 10px;
    font-size: 15pt;
    margin: 0 auto;
    margin-top: 80px; 
    margin-bottom: 80px;
    
}

.cajita table{
    padding-top: 10px;
}

.cajita table td{
    font-family: "Cambria", Arial;
    font-size: 12pt;
    padding-top: 10px;
    text-align: left;
    padding-left: 50px;
}

.cajita input{
    border-radius: 5px;
    border-color: #93cede;
}

.AgreButton{
    margin-left: 200px;
    height: 30px;
    width: 90px;
    box-shadow: 5px 5px 5px #888888;
    
}
/*//////////////////AgregarSucursal-Departamento-Articulo/////////////////////*/
.cajitaSuc{
    width: 600px;
    height: 200px;
    margin: 20px 20px 60px 50px;
    padding:  20px 20px 20px 10px;
    display: none;
}

.cajitaSuc fieldset{
    width: 600px; 
    border: 6px groove #0f4e5d;
    border-radius: 10px;
    font-size: 15pt;
    margin: 0 auto;
    margin-right: 50px;
    margin-bottom: 80px;
    
}

.cajitaSuc table{
    padding-top: 10px;
}

.cajitaSuc table td{
    font-family: "Cambria", Arial;
    font-size: 12pt;
    padding-top: 10px;
    text-align: left;
    padding-left: 50px;
}

.cajitaSuc input{
    border-radius: 5px;
    border-color: #93cede;
}

/*////////////////////////Inventario////////////////////////////////////*/

.Inv{
    margin: 270px 10px 10px 20px;
    padding: 20px 20px 20px 80px;
}

.Inv select{
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.Inv button{
    margin-right: 20px;
}

#NvoArt {
    float: left;
    margin: 1px 20px 20px 100px;

}

#filtro{
     float: left;
    margin: 1px 20px 20px 100px;
}

#filtro label{
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 5px;
    margin-right: 20px;
    
}


#filtro select{
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 20px;
    margin-right: 20px;
}
/*////////////////////////Inventario////////////////////////////////////*/

.merca{
    
}

.merca table{
    padding-top: 10px;
}

.merca table td{
    font-family: "Cambria", Arial;
    font-size: 12pt;
    padding-top: 10px;
    text-align: left;
    padding-left: 50px;
}

