/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16/09/2015, 01:14:11 AM
    Author     : Liliana
*/
html, body {
    background: white;
    margin: 0px;
    width: 100%;
    height: 100%;
    padding-top: 20px;
    
}

div.main{
    height: 1300px;
    width: 1300px;
    top: -5%;
    bottom:0px; 
    margin: 0 auto;
    border-radius: 5px; 
    background-color: #efefef;   
    position: relative;
}

#Encabezado{
    background: -moz-linear-gradient(top, #93cede 0%, #004254 86%, #49a5bf 92%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#93cede), color-stop(86%,#004254), color-stop(92%,#49a5bf)); 
    background: -webkit-linear-gradient(top, #93cede 0%,#004254 86%,#49a5bf 92%); 
    background: -o-linear-gradient(top, #93cede 0%,#004254 86%,#49a5bf 92%); 
    background: -ms-linear-gradient(top, #93cede 0%,#004254 86%,#49a5bf 92%); 
    background: linear-gradient(to bottom, #93cede 0%,#004254 86%,#49a5bf 92%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93cede', endColorstr='#49a5bf',GradientType=0 );
}

.marqueeV{
  border: 1px solid #444;
  border-radius: 5px;
  height: 50px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  width: 500px;
    
}

 .marqueeV h3{
  color: black;
  font-family: "Cambria",Tahoma, Arial, sans-serif;
  height: 100%;
  line-height: 50px;
  margin: 0;
  position: absolute;
  text-align: center;
  width: 100%;
  -moz-transform:translateX(100%);
  -webkit-transform:translateX(100%);
  transform:translateX(100%);
}

.marqueeV h3 {
  -moz-transform:translateY(-100%);
  -webkit-transform:translateY(-100%);
  transform:translateY(-100%);
}

.marqueeV h3:nth-child(1) {
  -moz-animation: down-one 20s ease infinite;
  -webkit-animation: down-one 20s ease infinite;
  animation: down-one 20s ease infinite;
}

.marqueeV h3:nth-child(2) {
  -moz-animation: down-two 20s ease infinite;
  -webkit-animation: down-two 20s ease infinite;
  animation: down-two 20s ease infinite;
}

@-moz-keyframes down-one {
  0%{-moz-transform:translateY(-100%);}
  10% {-moz-transform:translateY(0);}
  40% {-moz-transform:translateY(0);}
  50% {-moz-transform:translateY(100%);}
  100%{-moz-transform:translateY(100%);}
}
@-moz-keyframes down-two {
  0% {-moz-transform:translateY(-100%);}
  50% {-moz-transform:translateY(-100%);}
  60% {-moz-transform:translateY(0);}
  90% {-moz-transform:translateY(0);}
  100%{-moz-transform:translateY(100%);}
}
@-webkit-keyframes down-one {
  0% {-webkit-transform:translateY(-100%);}
  10% {-webkit-transform:translateY(0);}
  40% {-webkit-transform:translateY(0);}
  50% {-webkit-transform:translateY(100%);}
  100%{-webkit-transform:translateY(100%);}
}
@-webkit-keyframes down-two {
  0% {-webkit-transform:translateY(-100%);}
  50% {-webkit-transform:translateY(-100%);}
  60% {-webkit-transform:translateY(0);}
  90% {-webkit-transform:translateY(0);}
  100%{-webkit-transform:translateY(100%);}
}

#Letrero{
    width: 250px;
    float:left;
}

hr{
    clear: left;
    margin-top: 3px;
    margin-bottom: 5px;
}

.Ticket{
    margin-top: 30px;
    margin-bottom: 40px;
    margin-left: 20px;
    width:730px;
    text-align: center;
    border:1px solid black;
    overflow-x: hidden;
    float: left;
}

caption{
    font-size: 15pt;
    font-family: "Arial Black", Tahoma;
}

.Renglones{
    font-size: 10pt;
}

.ProductList{
    font-size: 15pt;
}

.ImProducto{
   margin-top: 11px;
   margin-left: 100px;
   margin-bottom: 100px;
   
   float:left;
   
}

.ImProducto table{
    border:4px solid black;
    border-style: double;
    margin-left: 15px;
    margin-top: 100px;
}

.ImProducto table caption{
     font-size: 10pt;
}

#ImagenProducto{
    width: 250px;
     
}

.CodigoBarras{
 width: 300px;
 height: 50px;
 text-align: center;
 //clear:right; 
 //top:50px;
 //position:relative;
}

.CodigoBarras input{
 width: 300px;
 height: 50px;
 font-size: 15pt;
}

.Videos table caption{
    font-size: 10pt;
}

.Videos{
    margin-left: 20px;
    margin-top: 10px;
    width: 500px;
    float: right;
}

.BusquedaProducto{
 width:730px;
 height: 50px;
 text-align: center;
 margin-left: 20px;
 //clear:right; 
 //top:50px;
 //position:relative;
}

.BusquedaProducto input{
 width: 200px;
 height: 30px;
 font-size: 10pt;
}



